*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited{text-decoration: none; color: #2dbcb8;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
h1{margin: 30px 0 15px 0; color: #2dbcb8;}
h4 {margin: 30px auto;}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #daffc4;
  .button-newgame {
    width: 160px;
    height: 50px;
    margin: 10px 0 20px 0;
    padding: 4px 6px;
    background-color: white;
    border: 2px solid #3ac8c4;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #eea0ae;
    cursor: pointer;
    &:hover {
      background-color: #ffc9d3;
      color: #3ac8c4;
      transition: all 0.3s ease 0s;
    }
  }
}

.gamebox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1px;
  width: 600px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow:  #2dbcb8 0px 0px 4px 0px;
  .gamebox-img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
    border: 1px solid #2dbcb8;;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    &:hover {
      cursor: pointer;
    }
  }
}

.firework-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
  z-index: 9999;
}

.firework {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: blue;
  animation: explode 1s ease-out forwards;
  opacity: 0;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}